<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&amp;subset=latin-ext" rel="stylesheet">
    <style>
      body {
       font-family: 'Quicksand', sans-serif;
       font-size: 18px;
      }
    </style>
  </head>

<!--
<body>
    <div id="frame">
        <div id="header">
            {% include _nav.html %}
        </div>
        <div id="main">
            {{ content }}
        </div>
    </div>
</body>
-->
    
